<!doctype html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="「MessageViewJS」は、ゲーム内でよくある会話シーンを簡単実装できる、JavaScriptライブラリです。">
    <meta name="keywords" content="Webゲーム,HTML5,会話シーン,JavaScript,ライブラリ">

    <meta property="og:type" content="article">
    <meta property="og:title" content="MessageViewJS - Talking Scene JavaScript Library">
    <meta property="og:description" content="「MessageViewJS」は、ゲーム内でよくある会話シーンを簡単実装できる、JavaScriptライブラリです。">
    <meta property="og:url" content="http://webcyou.com/message_view_js/">
    <meta property="og:image" content="http://webcyou.com/message_view_js/demo/img/screen_shot_ogp.png">
    <meta property="og:site_name" content="MessageViewJS - Talking Scene JavaScript Library">

    <title>MessageView.js</title>
    <link rel="shortcut icon" href="http://webcyou.com/message_view_js/demo/img/favicon.ico">
    <link href="./css/style.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="./bootstrap/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="./js/message_view.js" type="text/javascript"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            var message = new MessageViewer({
                "data": [{
                    "side_class": "right",
                    "name": "生方 すみれ",
                    "message":"はじめまして！<br>「MessageViewJS」はゲーム内でよくある会話シーンを<br />簡単実装できる、JavaScriptライブラリです！",
                    "img_url": "./img/character_0001.png"
                },{
                    "message":"GitHubを利用される方は「View on GitHub」からGitHubページへ！<br>ファイルをダウンロードするには「Download」から<br />ファイルをダウンロードしてね！"
                },{
                    "message":"サンプルやデモなど確認は、ページ中央部分からサンプルを選択してデモページで確認してね！"
                }
                 ,{
                    "message":"使い方を詳しく知りたい方は「Reference Docs」から 利用ページで確認してね！"
                }],
                "option": {
                    "loop": true
                }
            });
        }, false);
    </script>
</head>
<body>
    <section id="top" class="top">

        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <a href="./" class="navbar-brand"><img src="./img/main_logo.png" width="150" alt="Message View.js"/></a>
                </div>
                <div class="navbar-collapse collapse" id="navbar-main">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://www.webcyou.com/" target="_blank">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>


        <div class="jumbotron top">
            <div class="container">
                <h2 class="mainTitle text-center"><img src="./img/main_logo.png" width="400" alt="Message View.js"/></h2>
                <h2 class="mainDetail text-center">Talking Scene JavaScript Library<br>HTML5, WebGame etc..</h2>


                <div class="messageView" id="default">
                    <div class="mv-contents">
                        <p class="mv-name"></p>
                        <div class="mv-comment">
                            <p class="val"></p>
                            <p class="pointer"></p>
                        </div>
                        <p class="mv-image character"><img src="" alt=""/></p>
                    </div>
                </div><!-- /.messageView -->


                <div class="text-center stage-buttons">
                    <a class="btn btn-large btn-default" href="https://github.com/webcyou/MessageViewJS" target="_blank">
                        <i class="icon-github-sign"></i> View on GitHub
                    </a>
                    <a class="btn btn-large btn-primary" href="http://webcyou.com/message_view_js/message_view_js_1_0_2.zip">
                        <i class="icon-download-alt icon-large"></i> Download
                        <span class="version">(1.0.2)</span>
                    </a>
                    <a class="btn btn-large btn-warning" href="#reference">
                        <i class="icon-folder-open icon-large"></i> Reference Docs &amp; Notes
                    </a>
                </div>

                <ul class="socialLinkList share">
                    <li class="facebook">
                        <div class="btn">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=http://webcyou.com/message_view_js/demo/"></a>
                        </div>
                        <div class="count">
                            <p class="txt">0</p>
                        </div>
                        <div class="iconWrap">
                            <p class="icon social facebook s"></p>
                        </div>
                    </li>
                    <li class="twitter">
                        <div class="btn">
                            <a href="https://twitter.com/share?url=http://webcyou.com/message_view_js/demo/&text=MessageViewJS - Talking Scene JavaScript Library" target="_blank"></a>
                        </div>
                        <div class="count">
                            <p class="txt">0</p>
                        </div>
                        <div class="iconWrap">
                            <p class="icon social twitter s"></p>
                        </div>
                    </li>
                    <li class="google">
                        <div class="btn">
                            <a href="https://plus.google.com/share?url=http://webcyou.com/message_view_js/demo/"></a>
                        </div>
                        <div class="count">
                            <p class="txt">0</p>
                        </div>
                        <div class="iconWrap">
                            <p class="icon social google s"></p>
                        </div>
                    </li>
                    <li class="hatena">
                        <div class="btn">
                            <a href="http://b.hatena.ne.jp/entry/webcyou.com/message_view_js/demo/"></a>
                        </div>
                        <div class="count">
                            <p class="txt">0</p>
                        </div>
                        <div class="iconWrap">
                            <p class="icon social hatena s"></p>
                        </div>
                    </li>
                    <li class="pocket">
                        <div class="btn">
                            <a href="http://getpocket.com/edit?url=http://webcyou.com/message_view_js/demo/"></a>
                        </div>
                        <div class="count">
                            <p class="txt">0</p>
                        </div>
                        <div class="iconWrap">
                            <p class="icon social pocket s"></p>
                        </div>
                    </li>
                    <li class="line">
                        <div class="btn">
                            <a href="http://line.me/R/msg/text/?MessageViewJS - Talking Scene JavaScript Library%20http://webcyou.com/message_view_js/demo/"></a>
                        </div>
                        <div class="iconWrap center">
                            <p class="icon social line s"></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div><!-- /.jumbotron -->


        <div class="container">
            <h2>Samples</h2>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="thumbnail">
                        <img src="./img/sample001/screen_shot.png" width="300" alt="demo001">
                        <div class="caption">
                            <h3>Multi Character</h3>
                            <p>複数人の台詞の掛け合いとなっております。</p>
                        </div>
                        <p class="text-center"><a class="btn btn-primary" href="./html/sample001.html">Go Sample Page</a></p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="thumbnail">
                        <img src="./img/sample002/screen_shot.png" width="300" alt="demo002">
                        <div class="caption">
                            <h3>Effect Arrangement</h3>
                            <p>フラッシュ等によるエフェクト例となります。</p>
                        </div>
                        <p class="text-center"><a class="btn btn-primary" href="./html/sample002.html">Go Sample Page</a></p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="thumbnail">
                        <img src="./img/sample003/screen_shot.png" width="300" alt="demo003">
                        <div class="caption">
                            <h3>Impact</h3>
                            <p>インパクトを与える際の使用例となります。</p>
                        </div>
                        <p class="text-center"><a class="btn btn-primary" href="./html/sample003.html">Go Sample Page</a></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-md-4">
                    <div class="thumbnail">
                        <img src="./img/sample004/screen_shot.png" width="250" alt="demo004">
                        <div class="caption">
                            <h3>Novel</h3>
                            <p>小説風アレンジの例です。</p>
                        </div>
                        <p class="text-center"><a class="btn btn-primary" href="./html/sample004.html">Go Sample Page</a></p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="thumbnail">
                        <img src="./img/pic_coming_soon.png" width="250" alt="coming soon">
                        <div class="caption">
                            <h3>Sample Demo 005</h3>
                            <p>すみません。。現在準備中です。<br />今しばらくお待ち下さい。</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4">
                    <div class="thumbnail">
                        <img src="./img/pic_coming_soon.png" width="250" alt="coming soon">
                        <div class="caption">
                            <h3>Sample Demo 006</h3>
                            <p>すみません。。現在準備中です。<br />今しばらくお待ち下さい。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- example -->
        <div class="container">
            <h2>The Basics</h2>
            <ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical}" ng-transclude=""><li ng-class="{active: active, disabled: disabled}" heading="index.html" class="ng-isolate-scope active">
                <a ng-click="select()" tab-heading-transclude="" class="ng-binding">index.html</a>
            </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <pre>&lt;!doctype html&gt;
    &lt;head&gt;
        &lt;script src=&quot;/js/message_view.js&quot; type=&quot;text/javascript&quot;&gt;&lt;/script&gt;
        &lt;script&gt;
            document.addEventListener(&quot;DOMContentLoaded&quot;, function() {
                var message = new MessageViewer({
                    &quot;data&quot;: [{
                        &quot;name&quot;: &quot;生方 すみれ&quot;,
                        &quot;message&quot;: &quot;はじめまして！&quot;,
                        &quot;img_url&quot;: &quot;/img/character_0001.png&quot;
                    }]
                });
            }, false);
        &lt;/script&gt;
    &lt;/head&gt;

    &lt;div class=&quot;messageView&quot; id=&quot;default&quot;&gt;
        &lt;div class=&quot;mv-contents&quot;&gt;
            &lt;p class=&quot;mv-name&quot;&gt;&lt;/p&gt;
            &lt;div class=&quot;mv-comment&quot;&gt;
                &lt;p class=&quot;val&quot;&gt;&lt;/p&gt;
                &lt;p class=&quot;pointer&quot;&gt;&lt;/p&gt;
            &lt;/div&gt;
            &lt;p class=&quot;mv-image character&quot;&gt;&lt;img src=&quot;&quot; alt=&quot;&quot;/&gt;&lt;/p&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/html&gt;</pre>

                </div>
            </div>

            <h2>Multi</h2>
            <ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical}" ng-transclude=""><li ng-class="{active: active, disabled: disabled}" heading="index.html" class="ng-isolate-scope active">
                <a ng-click="select()" tab-heading-transclude="" class="ng-binding">JavaScript</a>
            </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <pre>
var message = new MessageViewer({
    &quot;data&quot;: [{
        &quot;name&quot;: &quot;生方 すみれ&quot;,
        &quot;message&quot;: &quot;はじめまして！&quot;,
        &quot;img_url&quot;: &quot;/img/character_0001.png&quot;
    },
    {
        &quot;message&quot;: &quot;こんにちは！&quot;
    }]
});
</pre>

                </div>
            </div>

            <h2>Character Change</h2>
            <ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical}" ng-transclude=""><li ng-class="{active: active, disabled: disabled}" heading="index.html" class="ng-isolate-scope active">
                <a ng-click="select()" tab-heading-transclude="" class="ng-binding">JavaScript</a>
            </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <pre>
var message = new MessageViewer({
    &quot;data&quot;: [{
        &quot;name&quot;: &quot;生方 すみれ&quot;,
        &quot;message&quot;: &quot;はじめまして！&quot;,
        &quot;img_url&quot;: &quot;/img/character_0001.png&quot;
    },
    {
        &quot;name&quot;: &quot;高山 大介&quot;,
        &quot;message&quot;: &quot;こんにちは！&quot;
        &quot;img_url&quot;: &quot;/img/character_0002.png&quot;
    }]
});</pre>

                </div>
            </div>

            <h2>Multi Class Change</h2>
            <ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical}" ng-transclude=""><li ng-class="{active: active, disabled: disabled}" heading="index.html" class="ng-isolate-scope active">
                <a ng-click="select()" tab-heading-transclude="" class="ng-binding">JavaScript</a>
            </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <pre>
var message = new MessageViewer({
    &quot;data&quot;: [{
        &quot;side_class&quot;: &quot;right&quot;,
        &quot;name&quot;: &quot;生方 すみれ&quot;,
        &quot;message&quot;: &quot;はじめまして！&quot;,
        &quot;img_url&quot;: &quot;/img/character_0001.png&quot;
    },
    {
        &quot;side_class&quot;: &quot;left&quot;,
        &quot;name&quot;: &quot;高山 大介&quot;,
        &quot;message&quot;: &quot;こんにちは！&quot;
        &quot;img_url&quot;: &quot;/img/character_0002.png&quot;
    },
    {
        &quot;side_class&quot;: &quot;right&quot;,
        &quot;name&quot;: &quot;生方 すみれ&quot;,
        &quot;message&quot;: &quot;今日はいい天気ですね！&quot;,
        &quot;img_url&quot;: &quot;/img/character_0001.png&quot;
    }]
});
</pre>

                </div>
            </div>

            <h2>CallBack Function</h2>
            <ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical}" ng-transclude=""><li ng-class="{active: active, disabled: disabled}" heading="index.html" class="ng-isolate-scope active">
                <a ng-click="select()" tab-heading-transclude="" class="ng-binding">JavaScript</a>
            </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <pre>
var message = new MessageViewer({
    &quot;data&quot;: [{
        &quot;name&quot;: &quot;生方 すみれ&quot;,
        &quot;message&quot;: &quot;はじめまして！&quot;,
        &quot;img_url&quot;: &quot;/img/character_0001.png&quot;
    }]
}, function() {
   console.log(&quot;callBack&quot;);
});</pre>

                </div>
            </div>

            <h2>Options</h2>
            <ul class="nav nav-tabs" ng-class="{'nav-stacked': vertical}" ng-transclude=""><li ng-class="{active: active, disabled: disabled}" heading="index.html" class="ng-isolate-scope active">
                <a ng-click="select()" tab-heading-transclude="" class="ng-binding">JavaScript</a>
            </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active">
                    <pre>var message = new MessageViewer({
    &quot;data&quot;: [{
        &quot;name&quot;: &quot;生方 すみれ&quot;,
        &quot;message&quot;: &quot;はじめまして！&quot;,
        &quot;img_url&quot;: &quot;/img/character_0001.png&quot;
    }],
    &quot;option&quot;: {
        &quot;loop&quot;: true,
        &quot;speed&quot;: &quot;fast&quot;
    }
});</pre>

                </div>
            </div>
        </div><!-- /example -->


        <div class="container" id="reference">
            <h2>Reference Docs</h2>
            <div class="caption">
                <h3>準備中</h3>
                <p>すみません。。現在準備中です。<br />今しばらくお待ち下さい。</p>
                <!--<p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>-->
            </div>
        </div>


        <div class="container">
            <h2>Options Reference</h2>
            <div class="optionsTable">
                <table class="table table-striped table-bordered">
                    <thead>
                    <tr>
                        <th>OptionName</th>
                        <th>DefaultValue</th>
                        <th>SetValue</th>
                        <th>OptionDetail</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>view</td>
                        <td>.messageView#default</td>
                        <td>className, idName, element</td>
                        <td>MessageViewの大枠となる要素</td>
                    </tr>
                    <tr>
                        <td>contents</td>
                        <td>.messageView#default .mv-contents</td>
                        <td>className, idName, element</td>
                        <td>MessageViewのcontentsとなる要素</td>
                    </tr>
                    <tr>
                        <td>character</td>
                        <td>.messageView#default .mv-contents .mv-image.character</td>
                        <td>className, idName, element</td>
                        <td>MessageViewのcharacterとなる要素</td>
                    </tr>
                    <tr>
                        <td>characterImg</td>
                        <td>.messageView#default .mv-contents .mv-image.character img</td>
                        <td>img element</td>
                        <td>MessageViewのcharacterのimg要素</td>
                    </tr>
                    <tr>
                        <td>messageView</td>
                        <td>.messageView#default .mv-contents .mv-comment</td>
                        <td>className, idName, element</td>
                        <td>メッセージ表示する親要素</td>
                    </tr>
                    <tr>
                        <td>message</td>
                        <td>.messageView#default .mv-contents .mv-comment .val</td>
                        <td>className, idName, element</td>
                        <td>メッセージを挿入する要素</td>
                    </tr>
                    <tr>
                        <td>name</td>
                        <td>.messageView#default .mv-contents .mv-name</td>
                        <td>className, idName, element</td>
                        <td>characterの名前表示する要素</td>
                    </tr>
                    <tr>
                        <td>pointer</td>
                        <td>.messageView#default .mv-contents .mv-comment .pointer</td>
                        <td>className, idName, element</td>
                        <td>メッセージのポインタ要素</td>
                    </tr>
                    <tr>
                        <td>messageOpenClass</td>
                        <td>in</td>
                        <td>className ( string )</td>
                        <td>MessageViewを表示する際、追加するクラス名</td>
                    </tr>
                    <tr>
                        <td>messageCloseClass</td>
                        <td>hide</td>
                        <td>className ( string )</td>
                        <td>MessageViewを非表示する際（終了後）、追加するクラス名</td>
                    </tr>
                    <tr>
                        <td>page</td>
                        <td>0</td>
                        <td>Number</td>
                        <td>Messageを開始するページナンバー</td>
                    </tr>
                    <tr>
                        <td>speed</td>
                        <td>normal</td>
                        <td>"normal", "fast", "slow", Number</td>
                        <td>Messageを表示するスピード</td>
                    </tr>
                    <tr>
                        <td>ignoreSkip</td>
                        <td>false</td>
                        <td>boolean</td>
                        <td>Messageのスキップを無効</td>
                    </tr>
                    <tr>
                        <td>loop</td>
                        <td>false</td>
                        <td>boolean</td>
                        <td>Messageをループさせるか</td>
                    </tr>
                    <tr>
                        <td>isPointer</td>
                        <td>true</td>
                        <td>boolean</td>
                        <td>Messageのポインター表示</td>
                    </tr>
                    <tr>
                        <td>isClose</td>
                        <td>true</td>
                        <td>boolean</td>
                        <td>MessageView終了後のView表示</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="container">
            <h2>Author</h2>
            <p>Daisuke Takayama</p>
            <p>web帳：<a href="http://www.webcyou.com/" target="_blank">http://www.webcyou.com/</a></p>
        </div>

        <div class="container">
            <h2>License</h2>
            <p>Copyright (c) 2015 Daisuke Takayama</p>
            <p>Released under the <a href="http://opensource.org/licenses/mit-license.php" target="_blank">MIT license</a></p>
        </div>

        <div class="container">
            <h2>Thanks</h2>
            <p>素材提供：</p>
            <p>株式会社ブリリアントサービス</p>
            <p>『星宝転生ジュエルセイバー』<a href="http://www.jewel-s.jp/" target="_blank">http://www.jewel-s.jp/</a></p>
        </div>


        <footer class="footer">
            <div class="container">
                <p class="logo"><img src="./img/main_logo.png" width="150" alt="Message View.js"/></p>
                <ul class="socialLinkList circle">
                    <li class="facebook"><a href="https://www.facebook.com/webcyou" target="_blank"></a></li>
                    <li class="twitter"><a href="https://twitter.com/webcyou" target="_blank"></a></li>
                    <li class="hatena"><a href="http://b.hatena.ne.jp/entry/www.webcyou.com/" target="_blank"></a></li>
                    <li class="github"><a href="https://github.com/webcyou" target="_blank"></a></li>
                </ul>
            </div>
            <p class="copyright">Copyright 2015 Webcyou. MessageViewJS All rights reserved.</p>
        </footer>
    </section>
</body>
</html>