@charset "UTF-8";
@import "compass";

@import "setting";
@import "mixin-style";


//sample001
section#sample.sample001,
section#sample.sample002 {
    .messageView {
        position: relative;
        width: 700px;
        height: 320px;
        margin: 80px auto 20px;
        cursor: pointer;
        .mv-contents {
            padding: 80px 0 0 0;
            .mv-name {
                position: absolute;
                top: 93px;
                left: -40px;
                width: 300px;
                padding: 6px 10px;
                background: rgba(47, 109, 174, 0.8);
                background: -webkit-gradient(linear, left top, right top, from(rgba(47, 109, 174, 0)), color-stop(0.1, rgba(47, 109, 174, 0.8)), color-stop(0.9, rgba(47, 109, 174, 0.8)), to(rgba(47, 109, 174, 0)));
                color: #ffffff;
                font-weight: bold;
                font-size: 22px;
                text-align: center;
                @include text-shadow(#000 1px 1px 3px 1px);
                z-index: 20;
            }
            .mv-comment {
                position: relative;
                @include box-sizing(border-box);
                margin-top: 50px;
                height: 160px;
                padding: 20px 30px 10px 30px;
                background: rgba(33,54,94, 0.7);
                border-radius: 8px;
                color: #ffffff;
                z-index: 10;
                .pointer {
                    position: absolute;
                    right: 20px;
                    bottom: 0;
                    width: 20px;
                    height: 34px;
                    background: url(#{$imgPath}/icon_pointer.png) no-repeat;
                    @include background-size(20px auto);
                    @include animation(pointer-anime 1s ease-in-out infinite);
                }
            }
            .mv-image.character {
                position: absolute;
                right: -62px;
                top: -111px;
                z-index: 1;
                img {
                    display: block;
                    width: 300px;
                }
            }
        }

        &.left {
            .mv-name {
                left: auto;
                right: -23px;
            }
            .mv-contents {
                .mv-image.character {
                    right: auto;
                    left: -24px;
                }
            }
        }

        &.center {
            .mv-contents {
                .mv-image.character {
                    right: auto;
                    left: 50%;
                    margin-left: -150px;
                    @include animation(character-anime 3s ease-in infinite);
                }
            }
        }
    }

    @media screen and (max-width: 768px) {
        .messageView {
            width: auto;
            height: auto;
            margin: 0 auto 20px;
            .mv-contents {
                .mv-name {
                    top: 102px;
                    left: -11px;
                    width: 150px;
                    font-size: 15px;
                }
                .mv-image.character {
                    right: -15px;
                    top: -16px;
                    img { width: 210px; }
                }
                .mv-comment {
                    height: 137px;
                    .val { font-size: 14px; }
                    .pointer {
                        right: 16px;
                        bottom: -10px;
                        width: 15px;
                        height: 34px;
                        @include background-size(15px auto);
                    }
                }
            }

            &.left {
                .mv-name {
                    left: auto;
                    right: -9px;
                }
                .mv-contents {
                    .mv-image.character {
                        right: auto;
                        left: -24px;
                    }
                }
            }
            &.center .mv-contents .mv-image.character { margin-left: -100px; }
        }
        .stage-buttons {
            .btn { margin-bottom: 10px; }
        }
    }

    @-webkit-keyframes character-anime {
        0% { @include transform(translate3d(0,0,0)); }
        20% { @include transform(translate3d(0,-18px,0)); }
        30% { @include transform(translate3d(0,0,0)); }
        100% { @include transform(translate3d(0,0,0)); }
    }
}

//sample002
section#sample.sample002 {
    .messageView {
        &.flash {
            .effect {
                position: absolute;
                top: -110px;
                left: 0;
                display: block;
                width: 100%;
                height: 400px;
                background: #fff;
                @include animation(flash-anime 3s ease-in 1);
                opacity: 0;
            }
        }
    }
    @-webkit-keyframes flash-anime {
        0% {
            opacity: 0;
        }
        20% {
            opacity: 0.5;
            z-index: 100;
        }
        35% {
            opacity: 0;
            z-index: 100;
        }
        50% {
            opacity: 0.9;
            z-index: 100;
        }
        70% {
            opacity: 0;
            z-index: 100;
        }
        100% {
            opacity: 0;
            z-index: 100;
        }
    }
}


//sample003
section#sample.sample003 {
    .messageView {
        position: relative;
        height: 320px;
        margin-bottom: 20px;
        background: #000;
        .mv-comment  {
            width: 630px;
            margin: 0 auto;
            .val {
                font-size: 90px;
                font-weight: bold;
                color: #f00;
                line-height: 320px;
            }
        }
    }
    @media screen and (max-width: 768px) {
        .messageView {
            width: auto;
            height: auto;
            margin: 0 auto 20px;
            .mv-comment {
                width: 280px;
                .val { font-size: 40px; }
            }
        }
        .stage-buttons {
            .btn { margin-bottom: 10px; }
        }
    }
}


//sample004
section#sample.sample004 {
    .messageView {
        position: relative;
        height: 500px;
        margin-bottom: 20px;
        background: url(#{$imgPath}sample004/bg_main.jpg) no-repeat;
        @include background-size(100% auto);
        .mv-comment  {
            padding: 40px;
            .val {
                font-size: 24px;
                color: #fff;
            }
            .pointer {
                position: absolute;
                right: 20px;
                bottom: 10px;
                width: 20px;
                height: 34px;
                background: url(#{$imgPath}icon_pointer.png) no-repeat;
                @include background-size(20px auto);
                @include animation(pointer-anime 1s ease-in-out infinite);
            }
        }
    }
    @media screen and (max-width: 768px) {
        .messageView {
            width: auto;
            height: auto;
            min-height: 200px;
            margin: 0 auto 20px;
            .mv-comment {
                padding: 8px;
                .val { font-size: 12px; }
                .pointer {
                    bottom: 0;
                    width: 15px;
                    height: 34px;
                    @include background-size(15px auto);
                }
            }
        }
        .stage-buttons {
            .btn { margin-bottom: 10px; }
        }
    }
}